<a href="https://colab.research.google.com/github/nthammadi-uncc/StarbucksPromotionAnalysis/blob/main/Exploratory_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exploratory Data Analysis

In [1]:
import pandas as pd

In [2]:
#read the csv files and convert into dataframe
parent_url='https://raw.githubusercontent.com/nthammadi-uncc/StarbucksPromotionAnalysis/main/data/'
portfolio_url=parent_url+'portfolio.csv'
profile_url=parent_url+'profile.csv'
transcript_url=parent_url+'transcript.csv'

portfolio_df=pd.read_csv(portfolio_url)
portfolio_df = portfolio_df.iloc[: , 1:]
profile_df=pd.read_csv(profile_url)
profile_df = profile_df.iloc[: , 1:]
transcript_df=pd.read_csv(transcript_url)
transcript_df = transcript_df.iloc[: , 1:]

In [3]:
portfolio_df.head(20)

,reward,channels,difficulty,duration,offer_type,id
0,10,"['email', 'mobile', 'social']",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"['web', 'email', 'mobile', 'social']",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"['web', 'email', 'mobile']",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"['web', 'email', 'mobile']",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"['web', 'email']",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"['web', 'email', 'mobile', 'social']",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"['web', 'email', 'mobile', 'social']",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"['email', 'mobile', 'social']",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"['web', 'email', 'mobile', 'social']",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"['web', 'email', 'mobile']",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [4]:
profile_df.head(20)

   gender  age                                id  became_member_on    income
0     NaN  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1       F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2     NaN  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3       F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4     NaN  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN
5       M   68  e2127556f4f64592b11af22de27a7932          20180426   70000.0
6     NaN  118  8ec6ce2a7e7949b1bf142def7d0e0586          20170925       NaN
7     NaN  118  68617ca6246f4fbc85e91a2a49552598          20171002       NaN
8       M   65  389bc3fa690240e798340f5a15918d5c          20180209   53000.0
9     NaN  118  8974fc5686fe429db53ddde067b88302          20161122       NaN
10    NaN  118  c4863c7985cf408faee930f111475da3          20170824       NaN
11    NaN  118  148adfcaa27d485b82f323aaaad036bd          20150919       NaN
12      M   58  2eeac8d8feae4a8cad5a6af0499a211d          20171111   51000.0
13      F   61  aa4862eba776480b8bb9c68455b8c2e1          20170911   57000.0
14      M   26  e12aeaf2d47d42479ea1c4ac3d8286c6          20140213   46000.0
15      F   62  31dda685af34476cad5bc968bdb01c53          20160211   71000.0
16      M   49  62cf5e10845442329191fc246e7bcea3          20141113   52000.0
17    NaN  118  744d603ef08c4f33af5a61c8c7628d1c          20170801       NaN
18      M   57  6445de3b47274c759400cd68131d91b4          20171231   42000.0
19      F   61  a448667f336b42c9a66fc5ffd5d73772          20180501   40000.0

In [5]:
transcript_df.head(20)

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0
5,389bc3fa690240e798340f5a15918d5c,offer received,{'offer id': 'f19421c1d4aa40978ebb69ca19b0e20d'},0
6,c4863c7985cf408faee930f111475da3,offer received,{'offer id': '2298d6c36e964ae4a3e7e9706d1fb8c2'},0
7,2eeac8d8feae4a8cad5a6af0499a211d,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},0
8,aa4862eba776480b8bb9c68455b8c2e1,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
9,31dda685af34476cad5bc968bdb01c53,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
10,744d603ef08c4f33af5a61c8c7628d1c,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
11,3d02345581554e81b7b289ab5e288078,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
12,4b0da7e80e5945209a1fdddfe813dbe0,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0
13,c27e0d6ab72c455a8bb66d980963de60,offer received,{'offer id': '3f207df678b143eea3cee63160fa8bed'},0
14,d53717f5400c4e84affdaeda9dd926b3,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
15,f806632c011441378d4646567f357a21,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
16,d058f73bf8674a26a95227db098147b1,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
17,65aba5c617294649aeb624da249e1ee5,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
18,ebe7ef46ea6f4963a7dd49f501b26779,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
19,1e9420836d554513ab90eba98552d0a9,offer received,{'offer id': 'ae264e3637204a6fb9bb56bc8210ddfd'},0