<a href="https://colab.research.google.com/github/nthammadi-uncc/StarbucksPromotionAnalysis/blob/main/Jupyter%20Notebooks/SB_Predictive_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Predictive Modeling - K-modes Clustering and Regression

In [ ]:
#import necessary libraries
import pandas as pd
import numpy as np

!pip install kmodes
from kmodes.kprototypes import KPrototypes

from sklearn_pandas import CategoricalImputer
from sklearn.impute import SimpleImputer

Requirement already satisfied: kmodes in /usr/local/lib/python3.7/dist-packages (0.12.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.21.6)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)

In [ ]:
#load data
offer_transaction_df=pd.read_csv('https://raw.githubusercontent.com/nthammadi-uncc/StarbucksPromotionAnalysis/main/data/clean/final_consolidated_offers.csv')
#removing first unnamed column that is not needed
offer_transaction_df = offer_transaction_df.iloc[: , 1:]
offer_transaction_df.head()

,person_id,gender,age,became_member_on,income,offer_id,reward,difficulty,duration,offer_type,...,v_max_time,v_record_counts,c_min_time,c_max_time,c_record_counts,t_min_time,t_max_time,t_record_counts,transaction_amount,successful_offer
0,0009655768c64bdeb2e877511632db8f,M,33.0,04/21/2017,72000.0,2906b810c7d4411798c6938adc9daaa5,2,10,7,discount,...,NaN,NaN,576.0,576.0,1.0,528.0,576.0,3.0,37.94,1
1,0009655768c64bdeb2e877511632db8f,M,33.0,04/21/2017,72000.0,3f207df678b143eea3cee63160fa8bed,0,0,4,informational,...,372.0,1.0,NaN,NaN,NaN,414.0,414.0,1.0,8.57,1
2,0009655768c64bdeb2e877511632db8f,M,33.0,04/21/2017,72000.0,5a8bc65990b245e5a138643cd4eb9837,0,0,3,informational,...,192.0,1.0,NaN,NaN,NaN,228.0,228.0,1.0,22.16,1
3,0009655768c64bdeb2e877511632db8f,M,33.0,04/21/2017,72000.0,f19421c1d4aa40978ebb69ca19b0e20d,5,5,5,bogo,...,456.0,1.0,414.0,414.0,1.0,414.0,414.0,1.0,8.57,1
4,0009655768c64bdeb2e877511632db8f,M,33.0,04/21/2017,72000.0,fafdcd668e3743c1bb461111dcafc2a4,2,10,10,discount,...,540.0,1.0,528.0,528.0,1.0,528.0,576.0,3.0,37.94,1

In [ ]:
offer_transaction_df.describe()

,age,income,reward,difficulty,duration,web_channel,mobile_channel,social_channel,duration_start_day,duration_end_day,...,v_max_time,v_record_counts,c_min_time,c_max_time,c_record_counts,t_min_time,t_max_time,t_record_counts,transaction_amount,successful_offer
count,64841.000000,64841.000000,74356.000000,74356.000000,74356.000000,74356.000000,74356.000000,74356.000000,74356.000000,74356.000000,...,54521.000000,54521.000000,27710.000000,27710.000000,27710.000000,59942.000000,59942.000000,59942.000000,59942.000000,74356.000000
mean,54.387563,65392.267238,4.204032,7.709721,6.504088,0.799788,0.899524,0.599064,14.687046,21.268640,...,345.229068,1.021405,374.615013,376.022880,1.032010,358.665310,413.625738,2.626072,33.603113,0.618027
std,17.392266,21637.543943,3.399897,5.536465,2.201135,0.400162,0.300636,0.490091,8.203041,8.535076,...,198.124387,0.145236,189.574269,190.429994,0.177663,174.818761,180.408878,1.740572,56.672438,0.485873
min,18.000000,30000.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000,4.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.050000,0.000000
25%,42.000000,49000.000000,2.000000,5.000000,5.000000,1.000000,1.000000,0.000000,8.000000,15.000000,...,180.000000,1.000000,216.000000,216.000000,1.000000,216.000000,282.000000,1.000000,7.240000,0.000000
50%,55.000000,64000.000000,5.000000,10.000000,7.000000,1.000000,1.000000,1.000000,15.000000,22.000000,...,390.000000,1.000000,414.000000,414.000000,1.000000,378.000000,450.000000,2.000000,20.000000,1.000000
75%,66.000000,80000.000000,5.000000,10.000000,7.000000,1.000000,1.000000,1.000000,22.000000,28.000000,...,516.000000,1.000000,534.000000,540.000000,1.000000,504.000000,582.000000,3.000000,43.970000,1.000000
max,101.000000,120000.000000,10.000000,20.000000,10.000000,1.000000,1.000000,1.000000,25.000000,35.000000,...,648.000000,3.000000,648.000000,648.000000,3.000000,648.000000,648.000000,14.000000,1136.780000,1.000000

In [ ]:
offer_transaction_df['became_member_on'] = pd.to_datetime(offer_transaction_df['became_member_on'], format='%m/%d/%Y')
offer_transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74356 entries, 0 to 74355
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   person_id           74356 non-null  object
 1   gender              74356 non-null  object
 2   age                 64841 non-null  float64
 3   became_member_on    64841 non-null  datetime64[ns]
 4   income              64841 non-null  float64
 5   offer_id            74356 non-null  object
 6   reward              74356 non-null  int64
 7   difficulty          74356 non-null  int64
 8   duration            74356 non-null  int64
 9   offer_type          74356 non-null  object
 10  web_channel         74356 non-null  int64
 11  mobile_channel      74356 non-null  int64
 12  social_channel      74356 non-null  int64
 13  duration_start_day  74356 non-null  int64
 14  duration_end_day    74356 non-null  int64
 15  week                74356 non-null  int64
 16  r_min_time          74356 non-null  int64
 17  r_max_time          74356 non-null  int64
 18  r_record_counts     74356 non-null  int64
 19  r_min_day           74356 non-null  int64
 20  r_max_day           74356 non-null  int64
 21  v_min_time          54521 non-null  float64
 22  v_max_time          54521 non-null  float64
 23  v_record_counts     54521 non-null  float64
 24  c_min_time          27710 non-null  float64
 25  c_max_time          27710 non-null  float64
 26  c_record_counts     27710 non-null  float64
 27  t_min_time          59942 non-null  float64
 28  t_max_time          59942 non-null  float64
 29  t_record_counts     59942 non-null  float64
 30  transaction_amount  59942 non-null  float64
 31  successful_offer    74356 non-null  int64
dtypes: datetime64[ns](1), float64(12), int64(15), object(4)
memory usage: 18.2+ MB

In [ ]:
#get oldest and newest members
print(offer_transaction_df.became_member_on.min(), offer_transaction_df.became_member_on.max())

2013-07-29 00:00:00 2018-07-26 00:00:00

In [ ]:
#segment age and income into bins
age_bins= [18,26,41,56,76,101]
age_labels = ["18-25","25-40","40-55","55-75","75+"]
income_bins = [30000, 50001, 80001, 100001, 120000]
income_labels = ["30-50k","50-80k","80-100k","100+k"]
offer_transaction_df['age_group'] = pd.cut(offer_transaction_df['age'], bins=age_bins, labels=age_labels, right=False)
offer_transaction_df['income_group'] = pd.cut(offer_transaction_df['income'], bins=income_bins, labels=income_labels, right=False)
#create customer_status field
offer_transaction_df.loc[pd.DatetimeIndex(offer_transaction_df['became_member_on']).year <=2016, "customer_status"]="Loyal Customer"
offer_transaction_df.loc[pd.DatetimeIndex(offer_transaction_df['became_member_on']).year >2016, "customer_status"]="New Customer"

#drop redundant columns
offer_transaction_df.drop(columns=['became_member_on','age','income'],axis=1,inplace=True)
offer_transaction_df.head()

,person_id,gender,offer_id,reward,difficulty,duration,offer_type,web_channel,mobile_channel,social_channel,...,c_max_time,c_record_counts,t_min_time,t_max_time,t_record_counts,transaction_amount,successful_offer,age_group,income_group,customer_status
0,0009655768c64bdeb2e877511632db8f,M,2906b810c7d4411798c6938adc9daaa5,2,10,7,discount,1,1,0,...,576.0,1.0,528.0,576.0,3.0,37.94,1,25-40,50-80k,New Customer
1,0009655768c64bdeb2e877511632db8f,M,3f207df678b143eea3cee63160fa8bed,0,0,4,informational,1,1,0,...,NaN,NaN,414.0,414.0,1.0,8.57,1,25-40,50-80k,New Customer
2,0009655768c64bdeb2e877511632db8f,M,5a8bc65990b245e5a138643cd4eb9837,0,0,3,informational,0,1,1,...,NaN,NaN,228.0,228.0,1.0,22.16,1,25-40,50-80k,New Customer
3,0009655768c64bdeb2e877511632db8f,M,f19421c1d4aa40978ebb69ca19b0e20d,5,5,5,bogo,1,1,1,...,414.0,1.0,414.0,414.0,1.0,8.57,1,25-40,50-80k,New Customer
4,0009655768c64bdeb2e877511632db8f,M,fafdcd668e3743c1bb461111dcafc2a4,2,10,10,discount,1,1,1,...,528.0,1.0,528.0,576.0,3.0,37.94,1,25-40,50-80k,New Customer

In [ ]:
offer_transaction_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74356 entries, 0 to 74355
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   person_id           74356 non-null  object
 1   gender              74356 non-null  object
 2   offer_id            74356 non-null  object
 3   reward              74356 non-null  int64
 4   difficulty          74356 non-null  int64
 5   duration            74356 non-null  int64
 6   offer_type          74356 non-null  object
 7   web_channel         74356 non-null  int64
 8   mobile_channel      74356 non-null  int64
 9   social_channel      74356 non-null  int64
 10  duration_start_day  74356 non-null  int64
 11  duration_end_day    74356 non-null  int64
 12  week                74356 non-null  int64
 13  r_min_time          74356 non-null  int64
 14  r_max_time          74356 non-null  int64
 15  r_record_counts     74356 non-null  int64
 16  r_min_day           74356 non-null  int64
 17  r_max_day           74356 non-null  int64
 18  v_min_time          54521 non-null  float64
 19  v_max_time          54521 non-null  float64
 20  v_record_counts     54521 non-null  float64
 21  c_min_time          27710 non-null  float64
 22  c_max_time          27710 non-null  float64
 23  c_record_counts     27710 non-null  float64
 24  t_min_time          59942 non-null  float64
 25  t_max_time          59942 non-null  float64
 26  t_record_counts     59942 non-null  float64
 27  transaction_amount  59942 non-null  float64
 28  successful_offer    74356 non-null  int64
 29  age_group           64819 non-null  category
 30  income_group        64777 non-null  category
 31  customer_status     64841 non-null  object
dtypes: category(2), float64(10), int64(15), object(5)
memory usage: 17.2+ MB

In [ ]:
offer_transaction_df.columns

Index(['person_id', 'gender', 'offer_id', 'reward', 'difficulty', 'duration',
       'offer_type', 'web_channel', 'mobile_channel', 'social_channel',
       'duration_start_day', 'duration_end_day', 'week', 'r_min_time',
       'r_max_time', 'r_record_counts', 'r_min_day', 'r_max_day', 'v_min_time',
       'v_max_time', 'v_record_counts', 'c_min_time', 'c_max_time',
       'c_record_counts', 't_min_time', 't_max_time', 't_record_counts',
       'transaction_amount', 'successful_offer', 'age_group', 'income_group',
       'customer_status'],
      dtype='object')

In [ ]:
#update na in transaction amount to 0
offer_transaction_df[['transaction_amount']]=offer_transaction_df[['transaction_amount']].fillna(value=0)
#Imputing NA/s with most frequent
imputer = SimpleImputer(fill_value=np.nan, strategy='most_frequent')
log_reg_model_df = imputer.fit_transform(offer_transaction_df.loc[:, ~offer_transaction_df.columns.isin(['person_id', 'offer_id'])])
log_reg_model_df = pd.DataFrame(log_reg_model_df, columns = offer_transaction_df.loc[:, ~offer_transaction_df.columns.isin(['person_id', 'offer_id'])].columns)
#impute unknown and null values with mode
log_reg_model_df.loc[log_reg_model_df['gender']=='UNKNOWN', "gender"]="M"
#drop unnecessary columns
log_reg_model_df.drop(columns=['duration_start_day', 'duration_end_day', 'week', 'r_min_time','r_max_time', 'r_min_day', 'r_max_day', 'v_min_time','v_max_time', 'v_record_counts', 
                                   'c_min_time', 'c_max_time','c_record_counts', 't_min_time', 't_max_time', 't_record_counts'],axis=1,inplace=True)
log_reg_model_df.head()

,gender,reward,difficulty,duration,offer_type,web_channel,mobile_channel,social_channel,r_record_counts,transaction_amount,successful_offer,age_group,income_group,customer_status
0,M,2,10,7,discount,1,1,0,1,37.94,1,25-40,50-80k,New Customer
1,M,0,0,4,informational,1,1,0,1,8.57,1,25-40,50-80k,New Customer
2,M,0,0,3,informational,0,1,1,1,22.16,1,25-40,50-80k,New Customer
3,M,5,5,5,bogo,1,1,1,1,8.57,1,25-40,50-80k,New Customer
4,M,2,10,10,discount,1,1,1,1,37.94,1,25-40,50-80k,New Customer

In [ ]:
log_reg_model_df=pd.get_dummies(data=log_reg_model_df, columns=['gender', 'offer_type','age_group','income_group','customer_status'])
log_reg_model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74356 entries, 0 to 74355
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   reward                          74356 non-null  object
 1   difficulty                      74356 non-null  object
 2   duration                        74356 non-null  object
 3   web_channel                     74356 non-null  object
 4   mobile_channel                  74356 non-null  object
 5   social_channel                  74356 non-null  object
 6   r_record_counts                 74356 non-null  object
 7   transaction_amount              74356 non-null  object
 8   successful_offer                74356 non-null  object
 9   gender_F                        74356 non-null  uint8
 10  gender_M                        74356 non-null  uint8
 11  gender_O                        74356 non-null  uint8
 12  offer_type_bogo                 74356 non-null  uint8
 13  offer_type_discount             74356 non-null  uint8
 14  offer_type_informational        74356 non-null  uint8
 15  age_group_18-25                 74356 non-null  uint8
 16  age_group_25-40                 74356 non-null  uint8
 17  age_group_40-55                 74356 non-null  uint8
 18  age_group_55-75                 74356 non-null  uint8
 19  age_group_75+                   74356 non-null  uint8
 20  income_group_100+k              74356 non-null  uint8
 21  income_group_30-50k             74356 non-null  uint8
 22  income_group_50-80k             74356 non-null  uint8
 23  income_group_80-100k            74356 non-null  uint8
 24  customer_status_Loyal Customer  74356 non-null  uint8
 25  customer_status_New Customer    74356 non-null  uint8
dtypes: object(9), uint8(17)
memory usage: 6.3+ MB

In [ ]:
log_reg_model_df.head(10)

,reward,difficulty,duration,web_channel,mobile_channel,social_channel,r_record_counts,transaction_amount,successful_offer,gender_F,...,age_group_25-40,age_group_40-55,age_group_55-75,age_group_75+,income_group_100+k,income_group_30-50k,income_group_50-80k,income_group_80-100k,customer_status_Loyal Customer,customer_status_New Customer
0,2,10,7,1,1,0,1,37.94,1,0,...,1,0,0,0,0,0,1,0,0,1
1,0,0,4,1,1,0,1,8.57,1,0,...,1,0,0,0,0,0,1,0,0,1
2,0,0,3,0,1,1,1,22.16,1,0,...,1,0,0,0,0,0,1,0,0,1
3,5,5,5,1,1,1,1,8.57,1,0,...,1,0,0,0,0,0,1,0,0,1
4,2,10,10,1,1,1,1,37.94,1,0,...,1,0,0,0,0,0,1,0,0,1
5,5,5,5,1,1,1,1,0.7,0,0,...,0,0,1,0,0,0,1,0,0,1
6,5,5,5,1,1,1,1,0.0,0,0,...,0,0,1,0,0,0,1,0,0,1
7,5,20,10,1,0,0,1,0.0,0,0,...,1,0,0,0,0,0,1,0,0,1
8,3,7,7,1,1,1,1,11.93,1,0,...,1,0,0,0,0,0,1,0,0,1
9,0,0,4,1,1,0,1,13.49,1,0,...,1,0,0,0,0,0,1,0,0,1

#### Logestic Regression under here!!!!

In [1]:
#enter LOGREG CODE ONLY here!!!!
#just a comment for BRande!!

#### K-mode Clustering (LogReg NOT HERE!!!)

In [ ]:
offer_transaction_df['gender'].value_counts()

M          37146
F          26798
UNKNOWN     9515
O            897
Name: gender, dtype: int64

In [ ]:
##### MODEL 1 - Customer clusters with highest spend
customer_transactions_df=offer_transaction_df.groupby(['person_id','gender','age','became_member_on','income','offer_type','successful_offer']).agg({
    'r_record_counts':['sum'], #count of offers received
    'c_record_counts':['sum'], #count of offers completed
    't_record_counts':['sum'], #count of transactions made
    'transaction_amount':['sum'], #total transaction amount for type of offer
}).reset_index()
customer_transactions_df.columns = customer_transactions_df.columns.droplevel(level=0)
customer_transactions_df.columns=['person','gender','age','became_member_on','income','offer_type','successful_offer','offers_received','offers_completed','transactions_made','total_amount_spent']
customer_transactions_df=customer_transactions_df.sort_values(['total_amount_spent','offer_type','successful_offer'], ascending=[False, True, False])

#fill null values of age_group and income_group to UNKNOWN
customer_transactions_df['age_group'] = customer_transactions_df['age_group'].cat.add_categories('UNKNOWN')
customer_transactions_df['income_group'] = customer_transactions_df['income_group'].cat.add_categories('UNKNOWN')
customer_transactions_df[['age_group','income_group']]=customer_transactions_df[['age_group','income_group']].fillna(value='UNKNOWN')
#drop redundant columns
customer_transactions_df.drop(columns=['person','became_member_on','age','income'],axis=1,inplace=True)
customer_transactions_df.head()

,gender,offer_type,successful_offer,offers_received,offers_completed,transactions_made,total_amount_spent,customer_status,age_group,income_group
34717,F,discount,1,3,3.0,16.0,2238.60,New Customer,40-55,80-100k
9906,F,bogo,1,3,3.0,10.0,1926.09,New Customer,55-75,80-100k
36805,M,discount,1,2,2.0,2.0,1549.48,New Customer,55-75,80-100k
34449,O,discount,1,2,1.0,2.0,1426.24,New Customer,55-75,80-100k
37126,M,discount,1,5,5.0,15.0,1391.47,New Customer,55-75,50-80k

In [ ]:
customer_transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42147 entries, 34717 to 42128
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gender              42147 non-null  object
 1   offer_type          42147 non-null  object
 2   successful_offer    42147 non-null  int64
 3   offers_received     42147 non-null  int64
 4   offers_completed    42147 non-null  float64
 5   transactions_made   42147 non-null  float64
 6   total_amount_spent  42147 non-null  float64
 7   customer_status     42147 non-null  object
 8   age_group           42147 non-null  category
 9   income_group        42147 non-null  category
dtypes: category(2), float64(3), int64(2), object(3)
memory usage: 3.0+ MB

In [ ]:
customer_transactions_df.shape

(42147, 12)

In [ ]:
#get highest and lowest spend
print(customer_transactions_df.total_amount_spent.max(), customer_transactions_df.total_amount_spent.min())

2238.6000000000004 0.0

In [ ]:
customer_transactions_df.successful_offer.value_counts()

1    27040
0    15107
Name: successful_offer, dtype: int64

In [ ]:
customer_transactions_df.age_group.value_counts()

55-75      16256
40-55      11797
25-40       6468
75+         4704
18-25       2908
UNKNOWN       14
Name: age_group, dtype: int64

In [ ]:
customer_transactions_df.income_group.value_counts()

50-80k     20413
30-50k     11544
80-100k     7296
100+k       2855
UNKNOWN       39
Name: income_group, dtype: int64

In [ ]:
categorical_features_idx = [0, 1, 2, 7, 8, 9]
mark_array=customer_transactions_df.values
kproto = KPrototypes(n_clusters=2, verbose=2, max_iter=20).fit(mark_array, categorical=categorical_features_idx)

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 3072, ncost: 174617113.27177727
Run: 1, iteration: 2/20, moves: 1755, ncost: 169651764.02947992
Run: 1, iteration: 3/20, moves: 1046, ncost: 167033939.83295265
Run: 1, iteration: 4/20, moves: 751, ncost: 165277176.1531423
Run: 1, iteration: 5/20, moves: 559, ncost: 164040295.07056913
Run: 1, iteration: 6/20, moves: 418, ncost: 163182122.9842519
Run: 1, iteration: 7/20, moves: 337, ncost: 162550211.43539387
Run: 1, iteration: 8/20, moves: 255, ncost: 162119945.91356605
Run: 1, iteration: 9/20, moves: 211, ncost: 161773637.52027884
Run: 1, iteration: 10/20, moves: 191, ncost: 161428263.4595594
Run: 1, iteration: 11/20, moves: 186, ncost: 161099485.5235093
Run: 1, iteration: 12/20, moves: 155, ncost: 160832893.1257976
Run: 1, iteration: 13/20, moves: 127, ncost: 160628798.4526496
Run: 1, iteration: 14/20, moves: 122, ncost: 160410571.83428955
Run: 1, iteration: 15/20, moves: 125, ncost: 160172212.14407715
Run: 1, iteration: 16/20, moves: 113, ncost: 159951302.63223928
Run: 1, iteration: 17/20, moves: 114, ncost: 159687780.61365873
Run: 1, iteration: 18/20, moves: 122, ncost: 159391024.5895159
Run: 1, iteration: 19/20, moves: 109, ncost: 159135096.2037396
Run: 1, iteration: 20/20, moves: 95, ncost: 158898476.9649554
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 200, ncost: 161372057.6750026
Run: 2, iteration: 2/20, moves: 180, ncost: 161056154.36252898
Run: 2, iteration: 3/20, moves: 151, ncost: 160799998.5873137
Run: 2, iteration: 4/20, moves: 122, ncost: 160601309.56304133
Run: 2, iteration: 5/20, moves: 125, ncost: 160375481.00698656
Run: 2, iteration: 6/20, moves: 119, ncost: 160148209.73026925
Run: 2, iteration: 7/20, moves: 107, ncost: 159936361.77905926
Run: 2, iteration: 8/20, moves: 115, ncost: 159667836.8902481
Run: 2, iteration: 9/20, moves: 121, ncost: 159373253.7475358
Run: 2, iteration: 10/20, moves: 108, ncost: 159120237.1400715
Run: 2, iteration: 11/20, moves: 96, ncost: 158879026.23810345
Run: 2, iteration: 12/20, moves: 98, ncost: 158606936.86634105
Run: 2, iteration: 13/20, moves: 93, ncost: 158314053.28511903
Run: 2, iteration: 14/20, moves: 92, ncost: 157971826.4451483
Run: 2, iteration: 15/20, moves: 99, ncost: 157548931.185412
Run: 2, iteration: 16/20, moves: 92, ncost: 157100416.35686854
Run: 2, iteration: 17/20, moves: 95, ncost: 156588608.51596478
Run: 2, iteration: 18/20, moves: 88, ncost: 156033840.14428136
Run: 2, iteration: 19/20, moves: 91, ncost: 155420182.9510114
Run: 2, iteration: 20/20, moves: 75, ncost: 154848206.61552426
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 723, ncost: 165099168.56929603
Run: 3, iteration: 2/20, moves: 547, ncost: 163902357.7373939
Run: 3, iteration: 3/20, moves: 418, ncost: 163051563.79602754
Run: 3, iteration: 4/20, moves: 317, ncost: 162469254.51033738
Run: 3, iteration: 5/20, moves: 245, ncost: 162060289.0222882
Run: 3, iteration: 6/20, moves: 208, ncost: 161716427.46762976
Run: 3, iteration: 7/20, moves: 194, ncost: 161362975.50974864
Run: 3, iteration: 8/20, moves: 177, ncost: 161052712.05972618
Run: 3, iteration: 9/20, moves: 151, ncost: 160796871.30136803
Run: 3, iteration: 10/20, moves: 126, ncost: 160590994.66521382
Run: 3, iteration: 11/20, moves: 126, ncost: 160362675.85120413
Run: 3, iteration: 12/20, moves: 117, ncost: 160139297.9334878
Run: 3, iteration: 13/20, moves: 104, ncost: 159932123.52282208
Run: 3, iteration: 14/20, moves: 115, ncost: 159662758.14711082
Run: 3, iteration: 15/20, moves: 122, ncost: 159365760.70497334
Run: 3, iteration: 16/20, moves: 106, ncost: 159117808.78168127
Run: 3, iteration: 17/20, moves: 95, ncost: 158879026.2381032
Run: 3, iteration: 18/20, moves: 98, ncost: 158606936.86634094
Run: 3, iteration: 19/20, moves: 93, ncost: 158314053.285119
Run: 3, iteration: 20/20, moves: 92, ncost: 157971826.44514796
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 336, ncost: 162589606.58405745
Run: 4, iteration: 2/20, moves: 262, ncost: 162144798.13585845
Run: 4, iteration: 3/20, moves: 207, ncost: 161805871.92245576
Run: 4, iteration: 4/20, moves: 194, ncost: 161457575.86195454
Run: 4, iteration: 5/20, moves: 188, ncost: 161124242.4206575
Run: 4, iteration: 6/20, moves: 158, ncost: 160850657.73009372
Run: 4, iteration: 7/20, moves: 133, ncost: 160636830.04856604
Run: 4, iteration: 8/20, moves: 118, ncost: 160427342.53505275
Run: 4, iteration: 9/20, moves: 127, ncost: 160185354.87550795
Run: 4, iteration: 10/20, moves: 114, ncost: 159964085.6941822
Run: 4, iteration: 11/20, moves: 117, ncost: 159695292.21886227
Run: 4, iteration: 12/20, moves: 121, ncost: 159401007.93960258
Run: 4, iteration: 13/20, moves: 108, ncost: 159146967.8147759
Run: 4, iteration: 14/20, moves: 93, ncost: 158917561.1429956
Run: 4, iteration: 15/20, moves: 96, ncost: 158652187.70627236
Run: 4, iteration: 16/20, moves: 88, ncost: 158381924.23707604
Run: 4, iteration: 17/20, moves: 89, ncost: 158063650.97493708
Run: 4, iteration: 18/20, moves: 92, ncost: 157682417.63050082
Run: 4, iteration: 19/20, moves: 94, ncost: 157251669.6824808
Run: 4, iteration: 20/20, moves: 99, ncost: 156732070.50696927
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 1419, ncost: 168456551.16232193
Run: 5, iteration: 2/20, moves: 899, ncost: 166261186.9790408
Run: 5, iteration: 3/20, moves: 656, ncost: 164756279.44250914
Run: 5, iteration: 4/20, moves: 501, ncost: 163678974.04862103
Run: 5, iteration: 5/20, moves: 393, ncost: 162897725.20039752
Run: 5, iteration: 6/20, moves: 295, ncost: 162370731.23566338
Run: 5, iteration: 7/20, moves: 230, ncost: 161986976.0847324
Run: 5, iteration: 8/20, moves: 197, ncost: 161657303.8856709
Run: 5, iteration: 9/20, moves: 196, ncost: 161300460.76346877
Run: 5, iteration: 10/20, moves: 171, ncost: 161002588.58337945
Run: 5, iteration: 11/20, moves: 146, ncost: 160759224.957004
Run: 5, iteration: 12/20, moves: 123, ncost: 160553972.99282664
Run: 5, iteration: 13/20, moves: 124, ncost: 160328194.50699663
Run: 5, iteration: 14/20, moves: 119, ncost: 160100953.91074452
Run: 5, iteration: 15/20, moves: 108, ncost: 159877653.41701308
Run: 5, iteration: 16/20, moves: 121, ncost: 159586975.0920076
Run: 5, iteration: 17/20, moves: 113, ncost: 159310994.99065322
Run: 5, iteration: 18/20, moves: 101, ncost: 159076287.8685994
Run: 5, iteration: 19/20, moves: 92, ncost: 158839897.99664113
Run: 5, iteration: 20/20, moves: 95, ncost: 158573060.84368962
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 3253, ncost: 175421026.032357
Run: 6, iteration: 2/20, moves: 1854, ncost: 170088434.19305292
Run: 6, iteration: 3/20, moves: 1107, ncost: 167292418.00583145
Run: 6, iteration: 4/20, moves: 787, ncost: 165434970.15816173
Run: 6, iteration: 5/20, moves: 577, ncost: 164150111.795438
Run: 6, iteration: 6/20, moves: 440, ncost: 163240019.07911232
Run: 6, iteration: 7/20, moves: 337, ncost: 162602259.87170985
Run: 6, iteration: 8/20, moves: 262, ncost: 162156143.46943885
Run: 6, iteration: 9/20, moves: 210, ncost: 161812579.65719554
Run: 6, iteration: 10/20, moves: 189, ncost: 161473964.51078156
Run: 6, iteration: 11/20, moves: 184, ncost: 161146512.0260651
Run: 6, iteration: 12/20, moves: 156, ncost: 160875913.24769154
Run: 6, iteration: 13/20, moves: 139, ncost: 160651487.7525438
Run: 6, iteration: 14/20, moves: 120, ncost: 160440734.66091225
Run: 6, iteration: 15/20, moves: 131, ncost: 160191055.3330698
Run: 6, iteration: 16/20, moves: 114, ncost: 159970457.681718
Run: 6, iteration: 17/20, moves: 117, ncost: 159702784.66346362
Run: 6, iteration: 18/20, moves: 122, ncost: 159405911.5384445
Run: 6, iteration: 19/20, moves: 107, ncost: 159154141.29663435
Run: 6, iteration: 20/20, moves: 95, ncost: 158920239.17958945
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 709, ncost: 165078563.7148185
Run: 7, iteration: 2/20, moves: 546, ncost: 163885204.0110477
Run: 7, iteration: 3/20, moves: 412, ncost: 163047665.61398986
Run: 7, iteration: 4/20, moves: 317, ncost: 162465770.0951602
Run: 7, iteration: 5/20, moves: 243, ncost: 162060289.0222882
Run: 7, iteration: 6/20, moves: 208, ncost: 161716427.46762976
Run: 7, iteration: 7/20, moves: 194, ncost: 161362975.50974867
Run: 7, iteration: 8/20, moves: 177, ncost: 161052712.05972615
Run: 7, iteration: 9/20, moves: 151, ncost: 160796871.30136803
Run: 7, iteration: 10/20, moves: 126, ncost: 160590994.66521385
Run: 7, iteration: 11/20, moves: 126, ncost: 160362675.85120422
Run: 7, iteration: 12/20, moves: 117, ncost: 160139297.93348783
Run: 7, iteration: 13/20, moves: 104, ncost: 159932123.52282202
Run: 7, iteration: 14/20, moves: 115, ncost: 159662758.1471108
Run: 7, iteration: 15/20, moves: 122, ncost: 159365760.70497343
Run: 7, iteration: 16/20, moves: 106, ncost: 159117808.7816813
Run: 7, iteration: 17/20, moves: 95, ncost: 158879026.23810324
Run: 7, iteration: 18/20, moves: 98, ncost: 158606936.86634088
Run: 7, iteration: 19/20, moves: 93, ncost: 158314053.285119
Run: 7, iteration: 20/20, moves: 92, ncost: 157971826.44514796
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 6728, ncost: 185730893.28488228
Run: 8, iteration: 2/20, moves: 3232, ncost: 175342039.28283456
Run: 8, iteration: 3/20, moves: 1850, ncost: 170030194.6456802
Run: 8, iteration: 4/20, moves: 1105, ncost: 167242964.37907448
Run: 8, iteration: 5/20, moves: 789, ncost: 165384374.0987558
Run: 8, iteration: 6/20, moves: 566, ncost: 164126230.36347476
Run: 8, iteration: 7/20, moves: 439, ncost: 163220132.20324096
Run: 8, iteration: 8/20, moves: 336, ncost: 162586000.5446651
Run: 8, iteration: 9/20, moves: 261, ncost: 162143171.2121737
Run: 8, iteration: 10/20, moves: 208, ncost: 161802487.0099303
Run: 8, iteration: 11/20, moves: 193, ncost: 161455740.60710397
Run: 8, iteration: 12/20, moves: 187, ncost: 161124242.42065728
Run: 8, iteration: 13/20, moves: 158, ncost: 160850657.7300937
Run: 8, iteration: 14/20, moves: 133, ncost: 160636830.04856578
Run: 8, iteration: 15/20, moves: 118, ncost: 160427342.53505272
Run: 8, iteration: 16/20, moves: 127, ncost: 160185354.87550807
Run: 8, iteration: 17/20, moves: 114, ncost: 159964085.6941822
Run: 8, iteration: 18/20, moves: 117, ncost: 159695292.21886197
Run: 8, iteration: 19/20, moves: 121, ncost: 159401007.9396026
Run: 8, iteration: 20/20, moves: 108, ncost: 159146967.81477588
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 23283, ncost: 207300376.09604588
Run: 9, iteration: 2/20, moves: 6559, ncost: 185201257.38838652
Run: 9, iteration: 3/20, moves: 3197, ncost: 175028832.80138424
Run: 9, iteration: 4/20, moves: 1809, ncost: 169866197.2751409
Run: 9, iteration: 5/20, moves: 1085, ncost: 167139055.30879003
Run: 9, iteration: 6/20, moves: 771, ncost: 165329617.0058812
Run: 9, iteration: 7/20, moves: 561, ncost: 164085089.0193872
Run: 9, iteration: 8/20, moves: 429, ncost: 163202180.98665094
Run: 9, iteration: 9/20, moves: 339, ncost: 162564490.3472566
Run: 9, iteration: 10/20, moves: 256, ncost: 162131688.0439538
Run: 9, iteration: 11/20, moves: 215, ncost: 161778712.37416357
Run: 9, iteration: 12/20, moves: 188, ncost: 161439234.5763075
Run: 9, iteration: 13/20, moves: 182, ncost: 161117181.75408548
Run: 9, iteration: 14/20, moves: 160, ncost: 160840860.8653635
Run: 9, iteration: 15/20, moves: 129, ncost: 160633628.65756088
Run: 9, iteration: 16/20, moves: 116, ncost: 160427342.53505263
Run: 9, iteration: 17/20, moves: 127, ncost: 160185354.87550807
Run: 9, iteration: 18/20, moves: 114, ncost: 159964085.69418216
Run: 9, iteration: 19/20, moves: 117, ncost: 159695292.21886194
Run: 9, iteration: 20/20, moves: 121, ncost: 159401007.93960255
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 2178, ncost: 171380082.03781208
Run: 10, iteration: 2/20, moves: 1299, ncost: 168000606.33969253
Run: 10, iteration: 3/20, moves: 861, ncost: 165927451.08110872
Run: 10, iteration: 4/20, moves: 618, ncost: 164523701.7502868
Run: 10, iteration: 5/20, moves: 471, ncost: 163521003.40260136
Run: 10, iteration: 6/20, moves: 366, ncost: 162806243.2995298
Run: 10, iteration: 7/20, moves: 283, ncost: 162308888.87373456
Run: 10, iteration: 8/20, moves: 232, ncost: 161924044.7940214
Run: 10, iteration: 9/20, moves: 195, ncost: 161590380.81066075
Run: 10, iteration: 10/20, moves: 197, ncost: 161233062.1857179
Run: 10, iteration: 11/20, moves: 165, ncost: 160947201.72649142
Run: 10, iteration: 12/20, moves: 147, ncost: 160706562.73803398
Run: 10, iteration: 13/20, moves: 126, ncost: 160491129.65843675
Run: 10, iteration: 14/20, moves: 125, ncost: 160256501.08400378
Run: 10, iteration: 15/20, moves: 124, ncost: 160018146.6449682
Run: 10, iteration: 16/20, moves: 113, ncost: 159770292.86583686
Run: 10, iteration: 17/20, moves: 125, ncost: 159464087.13893417
Run: 10, iteration: 18/20, moves: 112, ncost: 159198172.80657804
Run: 10, iteration: 19/20, moves: 88, ncost: 158987482.13195774
Run: 10, iteration: 20/20, moves: 91, ncost: 158739673.49250606
Best run was number 2

In [ ]:
# Cluster Centroids
print(kproto.cluster_centroids_)

[['2.8357705286839145' '2.5230596175478066' '10.714285714285714'
  '458.5528683914519' 'F' 'discount' '1' 'New Customer' '55-75' '50-80k']
 ['1.5507295554801492' '0.6198313054437927' '3.170027631004896'
  '37.78738693101958' 'M' 'discount' '1' 'New Customer' '55-75' '50-80k']]

In [ ]:
# Prediction
clusters = kproto.predict(mark_array, categorical=categorical_features_idx)

In [ ]:
customer_transactions_df['clusters'] = list(clusters)

In [ ]:
customer_transactions_df.head()

,gender,offer_type,successful_offer,offers_received,offers_completed,transactions_made,total_amount_spent,customer_status,age_group,income_group,clusters
34717,F,discount,1,3,3.0,16.0,2238.60,New Customer,40-55,80-100k,0
9906,F,bogo,1,3,3.0,10.0,1926.09,New Customer,55-75,80-100k,0
36805,M,discount,1,2,2.0,2.0,1549.48,New Customer,55-75,80-100k,0
34449,O,discount,1,2,1.0,2.0,1426.24,New Customer,55-75,80-100k,0
37126,M,discount,1,5,5.0,15.0,1391.47,New Customer,55-75,50-80k,0

In [ ]:
! pip install plotnine
import ggplot, aes, geom_line

Requirement already satisfied: plotnine in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: matplotlib>=3.1.1 in /usr/local/lib/python3.7/dist-packages (from plotnine) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.21.6)
Requirement already satisfied: mizani>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (0.6.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from plotnine) (0.5.2)
Requirement already satisfied: descartes>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.1.0)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (0.10.2)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.4.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (3.0.8)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.1->plotnine) (4.2.0)
Requirement already satisfied: palettable in /usr/local/lib/python3.7/dist-packages (from mizani>=0.6.0->plotnine) (3.3.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->plotnine) (2022.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.1->plotnine) (1.15.0)

AttributeError: ignored